/* Basic layout blocks */
.bui-layout-vertical {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.bui-layout-horizontal {
  display: flex;
  flex-flow: row;
  height: 100%;
}

/* Badu UI Drawer */
.bui-drawer {
  flex: 0 1 260px;
  display: none;
}
.bui-drawer.active {
  display: block;
}
.bui-drawer-item {
  padding: 14px;
}
.bui-drawer-item-header {
  min-height: 80px;
  padding: 8px;
}
.bui-drawer-item-footer {
  text-align: center;
  padding: 8px;
}
.bui-drawer-btn {
  width: 80px;
  padding: 10px;
  cursor: pointer;
}

.bui-zorder-high {
  -webkit-box-shadow: 4px 2px 8px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    4px 2px 8px 1px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         4px 2px 8px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  z-index: 1000;
}
.bui-zorder-medium {
  -webkit-box-shadow: 1px 1px 4px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 4px 1px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 4px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  z-index: 500;
}
.bui-zorder-low {
  -webkit-box-shadow: 1px 1px 4px 1px #ddd;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 4px 1px #ddd;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 4px 1px #ddd;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  z-index: 100;
}
